%h1 Obrigado por compra!
%br/
%h3 Você fez o pedido número ##{@request_id}.
%br/
%font{size: 3} Envie um PIX no valor de R$ #{$prices[@tier]},00 para o cpf 666.666.666-66 e adicione o número do seu pedido como mensagme e entraremos em contato assim que possível!
%br/
%br/
= link_to "Voltar", '/'